name: Build Lambda Layer

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'  # Change to match your Lambda python version

      - name: Install Lambda dependencies
        run: |
         # Create a python directory for the Lambda Layer
          mkdir python

          # Install only seaborn and matplotlib (no extras)
          pip install --no-cache-dir matplotlib seaborn -t python/

          # Remove unnecessary files to reduce layer size
          # Remove Python bytecode files
          find python/lib/python3.9/site-packages/matplotlib -name '__pycache__' -exec rm -r {} +
          find python/lib/python3.9/site-packages/seaborn -name '__pycache__' -exec rm -r {} +

          # Optionally remove documentation, tests, and examples
          rm -rf python/lib/python3.9/site-packages/matplotlib/tests
          rm -rf python/lib/python3.9/site-packages/matplotlib/examples
          rm -rf python/lib/python3.9/site-packages/seaborn/tests
          rm -rf python/lib/python3.9/site-packages/seaborn/examples

          # Zip the files into a Lambda Layer
          zip -r lambda-layer.zip python

      - name: Upload Lambda layer artifact
        uses: actions/upload-artifact@v4
        with:
          name: lambda-layer
          path: lambda-layer.zip
